<style type="text/css">

.adjustWidth{
	display: table !important;
	width: 100%;
}

.marginList{
	margin-right: 10px;
	margin-left: 10px;
}
.scroll {
  display: table-cell;
  text-align: left;
}

.border{
	border-style : none;
	border-top-style: solid;
	border-bottom-style: solid;
}
</style>
<ion-view view-title="Peñas" ng-controller="rocksCtrl as rocks">
  <ion-content class="adjustWidth">
  	<div class="marginList">
  		<ion-list>
	      <ion-item class="item-avatar border" ng-repeat="rock in rocks.listRocks" type="item-text-wrap" href="#/rock/{{$index}}">
	        <img ng-src="{{rock.img}}">
	        <h2>{{rock.name}}</h2>
	      </ion-item>
	    </ion-list>
  	</div>
  </ion-content>
</ion-view>