<ion-view view-title="Login">
  <div ng-controller="loginCtrl as session">
      <div class="fullscreen center-xy">
        <div>
          <label class="item item-input elementLogin">
            <input type="text" placeholder="Usuario">
          </label>
          <label class="item item-input elementLogin">
            <input type="password" placeholder="Contraseña">
          </label>
          <button class="button button-block button-balanced elementLogin" on-touch="session.logIn()">
            Entrar
          </button>
          <div class="centerText">
            <h4>Recordar contraseña</h4>
          </div>

          <div class="bottomPosition elementLogin">
            <button id = "btnNewUser" class="button button-block button-balanced">Nuevo Usuario</button>
          </div>
        </div>
      </div>
  </div>
</ion-view>
 